/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require errors
 */

@import "font-awesome-sprockets";
@import "font-awesome";
 
$navbar-height: 36px;
$font-size-base: 12px;

@import "bootstrap";

body{ 
  background-size: 100%;
  background-repeat: repeat-y; 

  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;

  overflow: hidden;
  background: #000 url("backgraund.jpg") center no-repeat;
  background-position: center;

}

.monster-margin {
  margin-bottom: -10px;
  margin-left: -15px;
  max-width: 100%;
  height: auto;
}

.calhau-top {
  height: 85px;
}

.funbox {
  background-color: #000;
  height: 150px;
  width: 400px;
  float: left;
  marging-left: 100px;
}