/*.side-bar a.list-group-item.active, .side-bar a.list-group-item.active:focus{
	background: #00ABA5;
	border-color: #00ABA5;
}*/

/*.side-bar .list-group .list-group-item {
	background: #f7f7f7;
}

.side-bar .list-group .list-group-item:hover {
	background: #FBFBFB;
}*/